/* Hovers */
.btns-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.8px;
    background-color: #f5ecec;
    transition: width 0.5s ease;
}

.btns-nav:hover::after { width: 100%; }

/* Key Frames */

@keyframes blink {
    0% { color: rgba(255, 255, 255, 0.4); }
    25% { color: rgba(255, 255, 255, 0.8); }
    50% { color: rgba(255, 255, 255, 0.2); }
    75% { color: rgba(255, 255, 255, 0.8); }
    100% { color: rgba(255, 255, 255, 0.4); }   
}


@-webkit-keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  @keyframes opacity {
    0%   {opacity:0;}
    50%  {opacity:1;}
    100% {opacity:0;}
  }
  
  @-webkit-keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-100px;}
    40%  {margin-top:-100px;}
    50%  {margin-top:-190px;}
    65%  {margin-top:-190px;}
    75%  {margin-top:-100px;}
    85%  {margin-top:-100px;}
    100% {margin-top:0;}
  }
  @keyframes change {
    0%   {margin-top:0;}
    15%  {margin-top:0;}
    25%  {margin-top:-100px;}
    40%  {margin-top:-100px;}
    50%  {margin-top:-190px;}
    65%  {margin-top:-190px;}
    75%  {margin-top:-100px;}
    85%  {margin-top:-100px;}
    100% {margin-top:0;}
  }
  
  