@import url(animations.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  overflow: hidden;
}

:root {
  --sandy-brown: #F4A259ff;
  --raisin-black: #1A1721ff;
  --licorice: #1B0D10ff;
  --gray: #7F746Cff;
  --vanilla: #FEEAA1ff;
}

header {
  background-Image: url('../src/image-3.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0px;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: .5s ease-in; 
}

nav{
  width: 100vw;
  
}
.btns-nav {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

h1 {
  margin: 0;
  font-size: 16px;
  justify-content: flex-start;
  padding: 10px;
  height: auto;
  font-size: 22px;
  top: 1%;
  position: fixed;
  left: 20px;
  z-index: 2;
  animation: pulse 7s infinite linear;
}

#cabeza{
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 1;
  border-radius: 0px;
  position: fixed;
}

nav ul {
  padding-top: 10px;
  width: 98%;  
  list-style: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: fixed;
  top: -30%;
  padding: 20px 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#nav-name-app {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
  font-size: 100px;
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  animation: blink 7s infinite linear;
  
}

section {
  padding: 40px;
}

h2 {
  font-size: 24px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}
.containeri {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.containerB {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: justify;
}


#imgBe{
  
  width: 400px;
  height: 300px;
}
.containerC {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 10%;
}
.containerD {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 5%;
}


.feature {
  display: flex;
  margin-bottom: 40px;
}

.feature img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  
  border-radius: 15px;
  border: #e75a18 solid 4px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
 
  z-index: 1;
}

#foot {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
 position: relative;
 top: 20%;
  z-index: 1;
}

#inicio, #caracteristicas, #beneficios, #descargar, footer {
  height: 100vh;
}


#return-index {
  z-index: 3;
  position: fixed;
  background-color: rgba(248, 247, 247, 0.3);
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin: 20px;
  border-radius: 100%;
  transition: .5s ease;
  cursor: pointer;
}

#return-index:hover {
  transform: scale(1.2);
}

#return-index img {
  width: 70%;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
 right: 5%;
}

#eti {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}


input[type="text"], textarea {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  
}
input[type="email"], textarea {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

button {
  width: 120px;
  height: 25px;
  display: block;
  margin-top: 10px;
  position: absolute;
  left:45%;
  border: #e75a18 solid 4px;
  border-radius: 10px;
}



.content {
  width:1000px;
  font-size:30px;
  line-height:50px;
  font-family:'Muli';
  color:#ecf0f1;
  height:100px;
  position:absolute;
  top:50%;
  left:32%;
  margin-top:-55px;
  margin-left:-240px;
  
  &:before {
    content:'[';
    position:absolute;
    left:-30px;
    line-height:100px;
  }
  &:after {
    content:']';
    position:absolute;
    right:-30px;
    line-height:100px;
  }
  &:after, &:before {
    color: var(--raisin-black);
    font-size:100px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}

.visible {
  float:left;
  font-weight:1100;
  overflow:hidden;
  height:100px;   
}

p {
  display:inline;
  float:left;
  margin:0;
  height: 120px;
}

#h {
  margin-top:0px;
  padding-left:280px;
  text-align:left;
  list-style:none;
  animation:6s linear 0s normal none infinite change;
  -webkit-animation:6s linear 0s normal none infinite change;
  -moz-animation:6s linear 0s normal none infinite change;
  -o-animation:6s linear 0s normal none infinite change;
}
#he{
  padding: 5px;
  line-height:95px;
  margin:0;
  font-size: 100px;
}

#b {
  text-align: justify;
  align-items: center;
width: 980px;
  line-height:95px;
  margin:0;
  font-size: 70px;
  position: relative;
  right: 20%;
}
#b2 {
  text-align: justify;
  align-items: center;
width: 980px;
  line-height:95px;
  margin:0;
  font-size: 70px;
  position: relative;
  right: 5%;
}
#b3 {
  text-align: justify;
  align-items: center;
width: 980px;
  line-height:95px;
  margin:0;
  font-size: 70px;
  position: relative;
  right: 10%;
}


